<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Registro de Estampillas</h2>
        <form>
            <div class="form-group">
                <label>Numero Contrato</label>

                <input type="number" name="nContrato" [(ngModel)]="estampilla.nContrato" class="form-control" />
            </div>
            <div class="form-group">
                <label>Objetivo del Contrato</label>
                <input type="text" name="oContrato" [(ngModel)]="estampilla.oContrato" class="form-control" />
            </div>
            <div class="form-group">
                <label>Valor del Contrato</label>
                <input type="number" name="vrContrato" [(ngModel)]="estampilla.vrContrato" class="form-control" />
            </div>
            <div class="form-group">
                <label>ApoyaEmegenciaCovid19</label>
                <input type="text" name="ApoyaEmegenciaCovid19" [(ngModel)]="estampilla.apoyaEmegenciaCovid19" class="form-control" />
            </div>
            <div class="form-group">
                <label>Valor Estampilla</label>
                <input type="number" name="vrEstampilla" [(ngModel)]="estampilla.vrEstampilla" class="form-control" />
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="add()">Registrar</button>
                <button class="btn btn-secondary" type="reset">Cancelar</button>
            </div>
        </form>
    </div>
</div>
